@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-pastel-cream text-pastel-text antialiased;
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-pastel-blueLight rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-pastel-lavender;
}
